:root {
  --branco: #fff;
  --preto: #000;
  --vermelho: #bb3b3b;
  --marrom: #361518;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  transition: all 1s;
}
body {
  overflow: hidden;
  background-color: var(--vermelho);
}
