.container {
  background-color: var(--marrom);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5vw;
  height: 90vh;
  margin: 2vh;
  padding: 2vh;
  font-size: clamp(18px, 1.2em, 2em);
  border-radius: 30px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
}

.logo {
  font-size: 3rem;
}

.addContainer {
  justify-self: bottom;
}
